.border {
  border: 1px solid red;
}

.navbar {
  background-color: #003580;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
  float: right;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 24px 26px;
  text-decoration: none;
}

.logo {
  float: left;
  margin-left: 50px;
  padding: 22px 24px;
  background: linear-gradient(to left, hsl(98 100% 62%), hsl(204 100% 59%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.dropdown {
  float: right;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 24px 26px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn,
.dropbtn:focus {
  background-color: rgba(192, 192, 192, 0.2);
  color: #f9f9f9;
  text-decoration: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 70px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  text-decoration: none;
  display: block;
  text-align: right;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.container {
  margin: auto;
  width: 50%;
}

.box {
  border: 1px white;
  box-shadow: 0 2px 8px rgb(0 0 0 / 20%);
  border-radius: 8px;
  padding: 15px;
  display: flex;
  flex-direction: row;
}
.form-box {
  box-shadow: 0 2px 8px rgb(0 0 0 / 20%);
  border-radius: 8px;
  padding: 15px;
}
.item-one {
  flex: 10 1 auto;
}

.item-two {
  flex: 1 1 auto;
}

.item-three {
  flex: 1 1 auto;
}
.item-four {
  flex: 1 1 auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  height: 48px;
  margin-top: 8px;
}
.item-five {
  flex: 1 1 auto;
  margin-left: 4px;
  margin-top: 10px;
}

input[type="text"] {
  width: 99%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  height: 48px;
}

input[type="date"] {
  width: 98%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #f2f2f2;
}
input[type="submit"] {
  background-color: #0071c2;
  color: white;
  min-width: 96px;
  font-weight: 700;
  line-height: 16px;
  border: 1px solid transparent;
  border-radius: 30px;
  padding: 12px 20px;
  font-size: 14px;
}

input[type="submit"]:hover {
  background-color: #075f9e;
}

.center {
  margin-top: 50px;
  margin-left: 105px;
  margin-bottom: 50px;
  width: 50%;
  padding: 10px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.flex-container .title {
  align-self: center;
}

.image-card {
  position: relative;
}

.topleft {
  position: absolute;
  top: 8px;
  left: 16px;
  color: white;
  padding: 2px;
}
.subtopleft {
  position: absolute;
  top: 60px;
  left: 16px;
  color: white;
  padding: 2px;
}
.topright {
  position: absolute;
  top: 5px;
  left: 70px;
  font-size: 18px;
}
.bottomright {
  position: absolute;
  bottom: 15px;
  left: 70px;
}

.content {
  position: relative;
  min-width: 370px;
  height: 80px;
}

img {
  border-radius: 3px;
}
.shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: inset 1px 1px 100px black;
  border-radius: 3px;
  top: 0;
  left: 0;
}
.image-card a:hover {
  cursor: pointer;
}

.icon-calender {
  border: none;
  border-radius: 25px;
  color: green;
  padding: 10px 14px;
  font-size: 20px;
  cursor: pointer;
  background-color: rgba(38, 166, 91, 0.2);
  top: 10px;
}

.icon-guarantee {
  border: none;
  border-radius: 25px;
  color: #063665;
  padding: 10px 14px;
  font-size: 20px;
  cursor: pointer;
  background-color: rgba(31, 58, 147, 0.2);
  top: 10px;
}

.icon-night {
  border: none;
  border-radius: 25px;
  color: purple;
  padding: 10px 14px;
  font-size: 20px;
  cursor: pointer;
  background-color: rgba(190, 144, 212, 0.3);
  top: 10px;
}

.subtitle {
  color: #6b6b6b;
  font-size: 14px;
}

.footer {
  padding: 40px 0;
  background-color: #003580;
  color: white;
}

.footer ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer li {
  padding: 0 10px;
}

.footer ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer ul a:hover {
  opacity: 1;
}

.footer .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer .social > a:hover {
  opacity: 0.9;
}

.footer .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}

.login-container {
  margin: auto;
  width: 30%;
  margin-top: 150px;
}

label {
  color: #3c4257;
  font-size: 14px;
  font-weight: normal !important;
  line-height: 30px;
}

.login-body {
  background-image: url("/resources/bg.jpeg");
  background-color: #cccccc;
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.signup-title {
  padding: 0px 50px 30px 0px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  margin-top: 60px;
  padding: 20px;
  border: 1px solid #888;
  width: 35%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.side {
  float: left;
  width: 30%;
  height: 200px;
  background: white;
  border-bottom: 1px solid #ccc;
}
.side-right {
  float: left;
  width: 15%;
  height: 200px;
  background: white;
  border-bottom: 1px solid #ccc;
  padding: 0px;
}
.side-left {
  float: left;
  width: 20%;
  height: 800px;
  background: white;
  margin-top: 10px;
  padding-top: 20px;
}

.side-left ul {
  list-style-type: none;
  padding: 0%;
}

/* Style the list inside the menu */
.side-right p {
  float: right;
}

article {
  float: left;
  width: 35%;
  background-color: white;
  height: 200px;
  border-bottom: 1px solid #ccc;
}
article ul {
  padding-left: 20px;
}

article a {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

article a:hover {
  color: #0071c2;
  text-decoration: none;
}

/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}
@media (max-width: 600px) {
  .side,
  article {
    width: 100%;
    height: auto;
  }
}

.data-container {
  width: 100%;
  padding-top: 30px;
  height: 220px;
}

._11XjrQ {
  background-color: #218242;
  color: #ffffff;
  font-size: 16px;
  display: inline-block;
  margin-top: 10px;
  padding: 2px 4px;
  border-radius: 3px;
}

.header {
  font-size: 19px;
  font-weight: bolder;
}

.wrapper {
  display: inline-flex;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #f2f2f2;
}

.dropdown1 {
  width: 400px;
  height: 40px;
  max-width: 150px;
  margin-top: 5px;
}

.dropdown1 p {
  padding: 8px 16px;
  color: #343838;
  cursor: pointer;
}

.dropdown1 ul {
  list-style: none;
  position: absolute;
  width: 200px;
  padding-left: 0px;
  border: 1px white;
  box-shadow: 0 2px 8px rgb(0 0 0 / 20%);
  border-radius: 8px;
  z-index: 1;
}

.dropdown1 ul li {
  padding: 0px 10px;
  background: white;
  color: #343838;

  height: 0px;
  overflow: hidden;
  cursor: pointer;
  transition: height 0.1s linear 0s;
}

.dropdown1:hover ul li {
  padding: 8px 16px;
  height: 50px;
  padding-top: 20px;
}

.alignleft {
  float: left;
}
.alignright {
  float: right;
}

@media (max-width: 576px) {
  .flex-container,
  .box {
    flex-direction: column;
    align-items: center;
    gap: 4vh;
  }
  .container {
    width: 100%;
  }
  h3 {
    text-align: center;
  }
  .item-one,
  .item-two,
  .item-three,
  .item-four {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .flex-container,
  .box {
    flex-direction: column;
    align-items: center;
    gap: 4vh;
  }
  .container,
  .login-container {
    width: 100%;
  }
  .item-one,
  .item-two,
  .item-three,
  .item-four {
    width: 100%;
  }
}
